.user-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.user + .user {
    margin-top: 36px;
}

.user__name {
    color: pink;
    font-size: 36px;
    margin: 0 0 24px;
}

.user__img {
    width: 250px;
    height: 250px;
}
